<section class="pb-3">
<div class="row g-0">
<div class="col-md-9">
    <owl-carousel-o [options]="mainSlidOptions">
    <ng-template carouselSlide>
        <img height="400" src="./assets/images/main-slider-1.jpeg" alt="slide1">
    </ng-template>  
    <ng-template carouselSlide>
        <img height="400" src="./assets/images/main-slider-2.jpeg" alt="slide2">
    </ng-template> 
    <ng-template carouselSlide>
        <img height="400" src="./assets/images/main-slider-3.jpeg" alt="slide3">
    </ng-template> 
  </owl-carousel-o>
</div>
<div class="col-md-3">
    <img height="200" class="w-100" src="./assets/images/main-slider-1.jpeg" alt="slide1">
    <img height="200" class="w-100" src="./assets/images/main-slider-2.jpeg" alt="slide2">
</div>
</div>
</section>
<section class="py-3">
    <h2>Popular Categories</h2>
    <owl-carousel-o [options]="categoryOptions">

        <ng-container *ngFor="let  category of categories">
          <ng-template carouselSlide>
            <img height="300" [src]="category.image" [alt]="category.name" [title]="category.name">
          </ng-template>
        </ng-container>
    
      </owl-carousel-o>
</section>
<section class="container-fluid py-4" *ngIf="products.length > 0">
    <h2>Popular Products</h2>
    <input type="text" class="form-control w-50 mx-auto form-control-sm my-3" placeholder="Search..." [(ngModel)]="term" >
    <div class="row g-4">
        <div *ngFor="let product of products | search:term | slice: 0: 25" class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="product h-100" role="button">
                <i *ngIf="!wishListData.includes($any(product._id))" (click)="addFav(product._id)" class="fa-regular fa-heart heart"></i>
                <i *ngIf="wishListData.includes($any(product._id))" (click)="removeWishList(product._id)" class="fa-sharp fa-solid fa-heart fa-2x heart"></i>
                <header [routerLink]="['/productDetails',product._id]">
                    <img class="w-100" [src]="product.imageCover" [title]="product.title" [alt]="product.title">
                <h3 class="small">{{product.title | cuttext:3}}</h3>
                <h4 class="h6 text-main">{{product.category.name}}</h4>
                <div class="d-flex align-items-center justify-content-between small">
                    <span class="text-danger">{{product.price | currency:' EGP '}}</span>
                    <p class="mb-0">
                        <i [class.rating-color]="product.ratingsAverage >= num" *ngFor="let num of [1,2,3,4,5]" class="fas fa-star"></i>
                        <span>{{product.ratingsAverage}}</span>
                    </p>
                </div>
                </header>
                <footer>
                    <button (click)="addProduct(product._id, btnAdd)" #btnAdd class="main-btn">+Add To Cart</button>
                    </footer>
            </div>
        </div>
    </div>
</section>
